{% extends "base/base.html" %}
{% block style %}
{% endblock style %}
{% block content %}
<h3 >Username: {{lecturer.username}} </h3>
<form method="POST">
    {% csrf_token %}
    <label for='old_password'>
        Old password:
        <input type='password' name='old_password' required>
    </label>
    <label for='new_password'>
        New password:
        <input type='password' name='new_password' required>
    </label>
    <label for='confirm_new_password'>
        Confirm new password:
        <input type='password' name='confirm_password' required>
    </label>
    {% if error %}
    <script >
        alert("{{error}}");
    </script>
    {% endif %}
    <button type='submit'>SAVE</button>
</form>
{% endblock content %}
{% block script %}
{% endblock script %}